.recipe-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .recipe-card {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    flex-basis: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }
}

.recipe-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.recipe-description {
  font-size: 16px;
  margin-bottom: 10px;
  color: #777;
}

.recipe-image {
  width: 15rem;
  height: 15rem;
  margin: 1rem;
  box-shadow: 4px 3px 6px -1px grey;
}

.recipe-ingredients {
  font-size: 14px;
  margin-top: 10px;
  color: #555;
}

.recipe-instructions {
  font-size: 14px;
  margin-top: 10px;
  color: #555;
}

.recipe-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.recipe-card:hover {
  transform: translateY(-4px);
  transition: transform 0.2s ease-in-out;
}

.welcome-container {
  margin: 2rem auto;
  width: 60%;
  text-align: center;
  padding: 5rem 3rem;
  border: 1px solid var(--outline);
  background-color: white;
  border-radius: 0.5rem;
}

.welcome-container > h1 {
  display: flex;
  flex-direction: column;
  color: var(--primary);
}

.welcome-container > div {
  font-style: italic;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

fieldset {
  width: 90%;
  margin: 1rem;
  border-radius: 9px;
  box-shadow: 2px 2px 5px -1px grey;
  border-style: none;
  background-color: whitesmoke;
  font-size: 1.1rem;
  padding: 1rem;
}

.btn {
  align-self: center;
  font-size: 1rem;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 2px 2px 4px -1px grey;
  background-color: #333;
  border: none;
  color: white;
  border-radius: 7px;
  cursor: pointer;
}

.form-group {
  margin: 1rem;
}

form label {
  margin-right: 1rem;
}

form input {
  font-size: 1rem;
  border-radius: 6px;
  border-style: double;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  box-sizing: border-box;
}

.btn:hover {
  background-color: #555;
  color: #fff;
}
